
.body {
  background: linear-gradient(  hsl(240, 10%, 14%)  , hsl(256, 17%, 12%),  hsl(271, 34%, 12%));
}



.main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background: url("/bg-stars.svg");
  z-index: 10;

}

.header {
  padding: 8% 0% 0% 0%;
}

.header h1{
  color: hsl(0, 0%, 100%);
  font-weight: 700;
  font-size: 29x;
  letter-spacing: 0.5ch ;
}

.count {
  display: inline-flex;
  justify-content: space-around;
  width: 52%;
  margin-top: -7%;
  text-align: center;
  padding: 0%;
  
}

.count div {
  padding: 0% 0%;
  width: 21%;
  background: linear-gradient(to bottom,  hsl(240, 21%, 17%) 50%,hsl(240, 12%, 26%)) 100% ;
  border-radius: 10px;
  filter: drop-shadow(1px 12px 1px rgba(17, 17, 17, 0.4)); /* asi añado sombra sombre un svg no sé sobre otras imágenes*/
  overflow: hidden;
}

.bolaUp {
  width: 20px;
  height: 17px;
  position: absolute;
  border: 1px solid color;
  border-radius: 50%;
  background: rgb(15, 15, 15);
  margin: 34% 0% 0% -5%;
  z-index: 10;
}

.bolaDown {
  width: 20px;
  height: 17px;
  position: absolute;
  border: 1px solid color;
  border-radius: 50%;
  background: rgb(15, 15, 15);
  margin: 34% -20% 0% 94%;
  z-index: 10;
}

.hr {
  margin-top: 38%;
  position: absolute;
  width: 100%;
  height: 2.2px;
  border: none;
  background-color: rgb(48, 48, 48);
  opacity: 0.5;
  border-radius: 10px;
  z-index: 0;
}

.count h2 {
  width: 100%;
  padding: 13% 0%;
  font-size: 75px;
  font-weight: 700;
  background: linear-gradient(to bottom, hsl(345, 49%, 57%) 50%, hsl(345, 95%, 68%) 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* con los ultimos 3 hago que se difumine el color del texto */
}

.data {
  margin-top: -11%;
  display: inline-flex;
  width: 49%;
  justify-content: space-between;
  color: hsl(237, 18%, 59%);
  font-size: 18px;
  letter-spacing: 0.2cm;
}

.data p {
  margin-left: 5%;
}

.data1 {
  padding-left: 3%;
}

.footer {
  position: relative;
  display: inline-flex;
  min-height: 200px;
  width: 100%;
  justify-content: space-evenly;
  margin: -3% 0% 0% 0%;
  background: url("/pattern-hills.svg");
  z-index:30;
  padding: 5% 37%;
}

.footer img {
  height: 25px;
}

.footer img:hover {
  cursor: pointer;
  background-color: brown;
  
}


@media (max-width: 600px) {
  
  .header {
    padding: 20% 4% 0% 4%;
    text-align: center;
  }
  
  .header h1{
    font-size: 25px;
  }
  
  .count {
    justify-content: space-between;
    width: 90%;
    margin-top: -15%;

  }
  
  #count .bolaUp {
    width: 18px;
    height: 15px;
    margin: 29% 0% 0% -11%;
  }
  
  #count .bolaDown {
    width: 18px;
    height: 15px;
    margin: 29% -20% 0% 94%;
  }
  
  #count .hr {
    margin-top: 35%;
  }
  
  #count h2 {
    padding: 13% 0%;
    font-size: 35px;
  }
  
  #data{
    margin: -30% 0% 0% 0%;
    padding: 0% 5% 0% 3%;
    width: 98%;
    font-size: 10px;
    letter-spacing: 0.1cm;
  }
  
  
  .data p {
    margin-left: 0%;
  }
  
  .data1 {
    padding-left: 2%;
  }
  
  .footer {
    position: relative;
    display: inline-flex;
    min-height: 200px;
    width: 100%;
    justify-content: space-around;
    margin: 0% 0% 0% 0%;
    background: url("/pattern-hills.svg");
    z-index:30;
    padding: 5% 25%;
  }
  
  .footer img {
    height: 35px;
  }
  
  .footer img:hover {
    cursor: pointer;
    background-color: brown;
    
  }

  }


  


/* Tablet and Smaller Desktop */
@media (max-width: 1370px) {
  
  
  
  .count div {
    padding: 0% 0%;
    width: 21%;
    background: linear-gradient(to bottom,  hsl(240, 21%, 17%) 50%,hsl(240, 12%, 26%)) 100% ;
    border-radius: 10px;
    filter: drop-shadow(1px 12px 1px rgba(17, 17, 17, 0.4)); /* asi añado sombra sombre un svg no sé sobre otras imágenes*/
    overflow: hidden;
  }
  
  .bolaUp {
    width: 19px;
    height: 16px;
    margin: 37% 0% 0% -5%;
  }
  
  .bolaDown {
    width: 19px;
    height: 16px;
    margin: 37% -20% 0% 94%;
  }
  
  .hr {
    margin-top: 42%;
  }
  
  .count h2 {
    font-size: 73px;
  }
  
  .data {
    width: 50%;
  }
  
  .data p {
    margin-left: 5%;
  }
  
  .data1 {
    padding-left: 5%;
  }
 
}

@media (max-width: 1170px) {
  
  
  .bolaUp {
    width: 17px;
    height: 14px;
    margin: 45% 0% 0% -7%;
  }
  
  .bolaDown {
    width: 17px;
    height: 14px;
    margin: 45% -20% 0% 94%;
  }
  
  .hr {
    margin-top: 48%;
  }
  
  .count h2 {
    font-size: 68px;
  }
  
  .data {
    width: 52%;
    font-size: 13px;
    margin-top: -15%;
  }
  
  .data p {
    margin-left: 6%;
  }
  
  .data1 {
    padding-left: 4%;
  }

}

@media (prefers-color-scheme: dark) {
  

}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
